{% load i18n %}

<div class="product product-list-item">
    <div class="product-image">
        <img src="{{ product.product_image }}" alt="">
    </div>
    <div class="product-content">
        <div class="product-price-offer">
            <a href="">
                <h2>{{ product.price_marketing }}</h2>
            </a>
        </div>
        <div class="product-price">
            <a href="">
                <h2>{{ product.offer_price_marketing }}</h2>
            </a>
        </div>
        <div class="product-name">
            <a href="">
                <h2>{{ product.product_name }}</h2>
            </a>
        </div>
    </div>
</div>