:root {
    --color-primary: #2d70db;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #ffffff;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
    --spacing-gutter-small: 2rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-white);
    color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

img {
    max-width: 100%;
}

/*Generic*/
.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-small) var(--spacing-gutter-medium);
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
    background: var(--color-primary-dark);
}

.header-logo {
    font-size: 3.5rem;
    color: var(--color-white);
    text-decoration: none;
}

/*Footer*/
.footer-container {
    background: var(--color-primary-dark);
    display: flex;
    justify-content: space-around;
    padding: var(--spacing-gutter-medium);
    margin-top: var(--spacing-gutter-large);
  }

.developer a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.8rem;
}

.powered {
    color: var(--color-white);
    font-size: 1.8rem;
}

/*Product Container*/
.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing-gutter-small);
  }
  
  .product {
    background: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: all 200ms ease-in-out;
    border-radius: 5rem;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .product-image {
    margin: var(--spacing-gutter-small);
  }
  
  .product-image img {
    margin: auto;	
    border: double 2px transparent;
    border-radius: 20px;
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  .product-list-item {
    max-width: 64rem;
    height: fit-content;
  }
  
  .product-list-item:hover {
    transform: scale(1.02);
    box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
  }
  
  .product-content a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.6rem;
  }
  
  .product-name {
    text-align: center;
  }
