{% load static %}
<!DOCTYPE html>
<html lang="{{ html_language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "base/links.html" %}
    <title>{% block title %}{% endblock title %}XYZ</title>
</head>
<body>
    {% include "base/menu.html" %}
    {% include "base/header.html" %}
    {% include "base/search.html" %}
    <main class='main-content'>
        {% block content %}{% endblock content %}
    </main>
    {% include "base/footer.html" %}
    <script src="{% static "js/scripts.js" %}"></script>
</body>
</html>